.side_nav {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(44, 44, 44);
  overflow-x: hidden;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.side_nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 1.1rem;
}

.side_nav a:hover {
  background: rgb(27, 27, 27);
}

.side_nav_heading {
  color: white;
  font-size: 1.2rem;
  display: block;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: bold;
}

.section {
  min-height: 100%;
  margin-bottom: -70px;
}

.section::after {
  content: '';
  display: block;
}

.content {
  margin-left: 230px;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.footer,
section::after {
  height: 70px;
}

.footer {
  text-align: center;
  width: 100%;
  background: rgb(44, 44, 44);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px white;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Light'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Semilight'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Bold'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Semibold'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format('truetype');
  font-weight: 700;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* font-family: "Oxygen"; */
  /* font-family: "Raleway"; */
  /* font-family: "Montserrat"; */
  /* font-family: "Roboto"; */
  font-family: 'SegoeUI';
  background-color: rgb(250, 250, 250);
}
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: green;
  border: 2px solid#fff;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 1;
  min-height: 60px;
  /* margin: 20px; */
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  /* padding: 1.2em 2.8em; */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.heading {
  margin: 16px 8px 0 0;
  font-size: 14px;
  color: hsl(0, 0%, 40%);
  font-weight: 400;
}
.categoryBtn {
  box-sizing: border-box;
  appearance: none;
  background-color: white;
  border: 2px solid#e6e6e6;
  /* border-radius: 0.6em; */
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 12px;
  /* letter-spacing: 2.5px; */
  line-height: 1;
  min-height: 13.8;
  min-width: 100;
  margin-top: 8px;
  /* margin: 20px; */
  /* padding: ; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 50px; */
  /* padding-left: 50px; */
  /* padding: 1.2em 2.8em; */
  text-decoration: none;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.categoryBtn:active {
  background-color: black;
  color: white;
}

.sideBar {
  /* position: fixed;
    left: 42px;
    top: 80px;
    width: 222.833px;
    height: 365.517px; */
  position: relative;
  padding: 0;
  margin: 0;
  /* padding-left: -25px; */
  list-style-type: none;
}
.sideBar a {
  /* font-family: Raleway; */
  text-decoration: none;
  line-height: 2;
  font-size: 16px;
  font-weight: 500;
  /* color: #2f0000; */
  color: rgb(77, 77, 77);
  opacity: 1;
  position: relative;
  /* display: inline-block; */
  /* padding: 15px 0px;
      margin: 0px 20px; */
}
.tagMenu {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  vertical-align: middle;
  display: block;
}
