.row {
  display: -ms_flexbox;
  display: flex;
  -ms_flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.btn_dark {
  color: #000;
  background-color: lightgray;
}
.img_fluid {
  max-width: 100%;
}
.setheight {
  height: 75vh;
}
/* Start workinkg here ----------------- */
.image {
  width: 15%;
  display: block;
  float: left;
  /* height: 25% */
}

.product_image_area {
  padding-top: 50px;
}
@media (min-width: 1000px) {
  .product_image_area {
    padding-top: 100px;
  }
}
.col_lg_6 {
  -ms_flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 575px) {
  .s_product_text {
    margin-left: 0px;
  }
}
.s_product_text h3 {
  font-size: 24px;
  font-weight: 500;
  color: #222;
  margin-bottom: 20px;
}
.s_product_text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #384aeb;
  margin-bottom: 10px;
}
.s_product_text .list li {
  margin-bottom: 5px;
}
.s_product_text .list li a {
  font-size: 15px;
  font-weight: normal;
  color: #777777;
}
.s_product_text .list li a span {
  width: 90px;
  display: inline-block;
  color: #555555;
}
.s_product_text .list li a span:hover {
  color: #555;
}
.s_product_text .list li a.active span {
  color: #555;
  -webkit-text-fill-color: #555;
}
.s_product_text .list li:last-child {
  margin-bottom: 0px;
}
.s_product_text p {
  padding-top: 20px;
  border-top: 1px dotted #eeeeee;
  border-bottom: 1px dotted #eeeeee;
  margin-top: 20px;
  padding-bottom: 26px;
  margin-bottom: 0;
}
.s_product_text .card_area {
  margin-top: 25px;
}
.s_product_text .card_area .primary_btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 5px;
}
.s_product_text .card_area .icon_btn {
  position: relative;
  height: 40px;
  width: auto;
  text-align: center;
  background: #e8f0f2;
  border-radius: 3px;
  display: inline-block;
  color: #222;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  z-index: 1;
}

.product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}
.s_product_text .card_area .icon_btn i,
.s_product_text .card_area .icon_btn span {
  line-height: 40px;
}
.s_product_text .card_area .icon_btn:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.s_product_text .card_area .icon_btn:hover {
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3);
}
.s_product_text .card_area .icon_btn:hover:after {
  opacity: 1;
  visibility: visible;
}
.product_count {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}
.product_count label {
  font-size: 14px;
  color: #777;
  font-weight: normal;
  padding-right: 10px;
}
.s_product_text .card_area .icon_btn i,
.s_product_text .card_area .icon_btn span {
  line-height: 40px;
}
.lnr {
  font-family: "Linearicons-Free";
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.product_description_area {
  padding-bottom: 100px;
  margin-top: 60px;
}
.product_description_area .nav.nav_tabs {
  background: #f1f6f7;
  text-align: center;
  display: block;
  border: none;
  padding: 10px 0px;
}
.product_description_area .nav.nav_tabs li {
  display: inline-block;
  margin-right: 7px;
}
.product_description_area .nav.nav_tabs li:last-child {
  margin-right: 0px;
}
@media (max-width: 441px) {
  .product_description_area .nav.nav_tabs li:last-child {
    margin-top: 15px;
  }
}
.product_description_area .nav.nav_tabs li a {
  padding: 0px;
  border: none;
  line-height: 38px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 0px 30px;
  color: #222;
  font-size: 14px;
  font-weight: normal;
}
@media (max-width: 570px) {
  .product_description_area .nav.nav_tabs li a {
    padding: 0 15px;
  }
}
.product_description_area .nav.nav_tabs li a.active {
  color: #fff;
  background: #384aeb;
  border-color: #384aeb;
}
.product_description_area .tab_content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 30px 30px 15px 30px;
}
.product_description_area .tab_content .total_rate .box_total {
  background: #f1f6f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product_description_area .tab_content .total_rate .box_total h4 {
  font-size: 48px;
  font-weight: bold;
  color: #384aeb;
}
.product_description_area .tab_content .total_rate .box_total h5 {
  color: #333333;
  margin-bottom: 0px;
  font-size: 24px;
}
.product_description_area .tab_content .total_rate .box_total h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  font-size: 14px;
  color: #555555;
  font-weight: normal;
}
.product_description_area .tab_content .total_rate .rating_list {
  margin-bottom: 30px;
}
.product_description_area .tab_content .total_rate .rating_list h3 {
  font-size: 18px;
  color: #222;
  font-weight: 500;
  margin-bottom: 10px;
}
.product_description_area .tab_content .total_rate .rating_list .list li a {
  font-size: 15px;
  color: #555555;
}
.product_description_area .tab_content .total_rate .rating_list .list li a i {
  color: #fbd600;
}
.product_description_area
  .tab_content
  .total_rate
  .rating_list
  .list
  li
  a
  i:first-child {
  margin-left: 15px;
}
.product_description_area
  .tab_content
  .total_rate
  .rating_list
  .list
  li
  a
  i:last-child {
  margin-right: 15px;
}
.product_description_area
  .tab_content
  .total_rate
  .rating_list
  .list
  li:nth-child
  a
  i:last-child {
  color: #eeeeee;
}
.product_description_area .tab_content .table {
  margin-bottom: 0px;
}
.product_description_area .tab_content .table tbody tr td {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.product_description_area .tab_content .table tbody tr td h5 {
  font-size: 14px;
  font-weight: normal;
  color: #777;
  margin-bottom: 0px;
  white-space: nowrap;
}
.product_description_area .tab_content .table tbody tr:first-child td {
  border-top: 0px;
}
/* .tab_content > .active {
  display: block;
} */
.navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
.header_area .navbar .nav .nav-item {
  margin-right: 45px;
}
.header_area .navbar .nav .nav-item .nav_link {
  text-transform: capitalize;
  color: #222;
  display: inline-block;
}
@media (min-width: 991px) {
  .header_area .navbar .nav .nav-item .nav_link {
    padding: 32px 0px;
  }
}
.header_area .navbar .nav .nav-item .nav_link:after {
  display: none;
}
.header_area .navbar .nav .nav-item:hover .nav_link,
.header_area .navbar .nav .nav-item.active .nav_link {
  color: #384aeb;
}
.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}
.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav_link {
  line-height: 45px;
  color: #222;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav_link {
  background: #384aeb;
  color: #fff;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}
.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}
.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}
.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  color: #222;
}
.header_area .navbar .search i {
  font-weight: 600;
}
.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -o-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav_link {
  line-height: 70px;
}
#search_input_box {
  text-align: center;
  padding: 5px 20px;
}
#search_input_box .form_control {
  padding-left: 0;
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
#search_input_box .form_control:focus {
  box-shadow: none;
  outline: none;
}
#search_input_box input.placeholder {
  color: #ffffff;
  font-size: 16px;
}
#search_input_box input:-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
#search_input_box input::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
#search_input_box input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
#search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}
#search_input_box .lnr-cross {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 0;
}
.header-top {
  background: #000000;
}
@media (max-width: 991px) {
  .header-top {
    display: none;
  }
}
.header-top a {
  color: #fff;
}
.header-top ul li {
  display: inline-block;
  margin-left: 15px;
}
.header-top .header-top-left a {
  margin-right: 60px;
  font-weight: 600;
}
.header-top .header-top-left a .text {
  margin-top: -2px;
}
.header-top .header-top-left a .text span {
  font-size: 14px;
  color: #ffffff;
}
.header-top .header-top-left a .lnr {
  color: #ffffff;
  margin-right: 8px;
}
@media (max-width: 767px) {
  .header-top .header-top-left .text {
    display: none;
  }
}
.header-top .header-top-right {
  text-align: right;
}
.header-top .header-top-right a {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.nav-shop li {
  display: inline-block;
  margin-right: 15px;
}
.nav-shop li i,
.nav-shop li span {
  font-size: 16px;
  color: #222;
}
.nav-shop li button {
  padding: 0;
  border: 0;
  background: transparent;
  position: relative;
}
.nav-shop li button .nav-shop__circle {
  font-size: 9px;
  display: inline-block;
  background: #384aeb;
  color: #fff;
  padding: 0px 5px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -12px;
}
.nav-shop li:last-child {
  margin-left: 40px;
}
@media (max-width: 1619px) {
  .header_area .navbar .search {
    margin-left: 40px;
  }
}
@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .home_banner_area .banner_inner {
    padding: 100px 0px;
  }
  .header_area .navbar .tickets_btn {
    margin-left: 40px;
  }
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .header_area .navbar {
    background: #ffffff;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #384aeb;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header_area .navbar .nav .nav-item .nav_link {
    line-height: 30px;
    margin-right: 0px;
    /* display: block; */
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header_area .navbar .nav-shop {
    padding-bottom: 40px;
  }
  .header_area .navbar .search {
    margin-left: 0px;
  }
  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav_link {
    padding: 0px 15px;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 0px;
    padding-top: 71px;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav_link {
    line-height: 40px;
  }
  .categories_post img {
    width: 100%;
  }
  .categories_post {
    max-width: 360px;
    margin: 0 auto;
  }
  .blog_categorie_area .col-lg-4 {
    margin-top: 30px;
  }
  .blog_area {
    padding-bottom: 80px;
  }
  .single-post-area .blog_right_sidebar {
    margin-top: 30px;
  }
  .contact_info {
    margin-bottom: 50px;
  }
  .home_banner_area .donation_inner {
    margin-bottom: -30px;
  }
  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto;
  }
  .footer-area .col-sm-6 {
    margin-bottom: 30px;
  }
  .header_area .navbar .tickets_btn {
    margin-left: 0px;
  }
  .home_banner_area {
    min-height: 700px;
  }
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.review_item {
  margin-bottom: 10px;
}
.review_item:last-child {
  margin-bottom: 0px;
}
.review_item .media {
  position: relative;
  display: inline-flex;
}
.review_item .media .d_flex {
  padding-right: 15px;
}
.review_item .media .media_body {
  vertical-align: middle;
  align-self: center;
}
.review_item .media .media_body h4 {
  font-size: 16px;
  color: #222;
  margin-bottom: 4px;
}
.review_item .media .media_body i {
  color: #fbd600;
}
.review_item .media .media_body h5 {
  font-size: 13px;
  font-weight: normal;
  color: #777;
}
.review_item .media .media_body .reply_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  color: #222;
  position: absolute;
  right: 0px;
  top: 14px;
  /* transition; */
}
.review_item .media .media_body .reply_btn:hover {
  background: #384aeb;
  border-color: #384aeb;
  color: #fff;
}

.review_item p {
  padding-top: 10px;
  margin-bottom: 0px;
}
.review_item.reply {
  padding-left: 28px;
}
.review_box h4 {
  font-size: 20px;
  color: #222;
  margin-bottom: 20px;
}
.d_flex {
  padding-right: 30px;
}
.cart_inner .table tbody tr td .media .d_flex img {
  border-radius: 3px;
  width: 50%;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* @media (max-width: 600px) {
  .cart_inner .table tbody tr td .media .d_flex img {
    max-width: 100px;
    height: 80px;
  }
} */
.review_box p {
  margin-bottom: 0px;
  color: #555555;
  display: inline-block;
}
.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.review_box .list li {
  display: inline-block;
}
.review_box .list li a {
  display: inline-block;
  color: #fbd600;
}
.review_box .contact_form {
  margin-top: 15px;
}
.review_box .primary_btn {
  line-height: 38px !important;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
.section_intro p {
  margin-bottom: 3px;
}
.section_intro__style {
  border-bottom: 2px solid #384aeb;
  padding-bottom: 8px;
}
.section-margin--small {
  margin: 98px 0;
  margin-top: 98px;
}
.section-margin--small {
  margin: 35px 0;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
