.page_section._theme_elite,
.page_section._theme_power_elite {
  overflow: initial;
}
.page_section[class*="-theme-"] {
  color: white;
  overflow: hidden;
  position: relative;
}
.page_section._border_bottom {
  border-bottom: 1px solid #e1e8ed;
}
.page_section {
  padding: 32px 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.page_section {
  padding: 24px 0;
}
.h_pt3 {
  padding-top: 24px !important;
}
.h_pb0 {
  padding-bottom: 0px !important;
}
.h_mb3 {
  margin-bottom: 24px !important;
}
.grid_container {
  max-width: 1004px;
  max-width: 64rem;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}
.user_info_header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user_info_header__user_details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.user_info_header__user_details img {
  margin-top: 5px;
}
/* img {
  border-style: none;
} */
.h_ml2 {
  margin-left: 16px !important;
}
.t_link._decoration_none {
  text-decoration: none;
}
.t_link {
  color: #0084b4;
  text-decoration: underline;
}

.user_info_header__content .h_display_inlineblock {
  word-break: break-word;
}
.t_heading._size_m {
  font-size: 24px;
}
.t_heading._color_dark,
.t_heading {
  color: #454545;
}
.t_heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  padding: 0;
}
.h_p0 {
  padding: 0px !important;
}
.h_m0 {
  margin: 0px !important;
}
.h_display_inlineblock {
  display: inline-block !important;
}
.t_body._size_m {
  font-size: 14px;
}
.t_body._color_dark,
.t_body {
  color: #666666;
}
.t_body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0;
}
.h_p0 {
  padding: 0px !important;
}
.h_mb0 {
  margin-bottom: 0px !important;
}
.user_info_header__cta_buttons {
  white-space: nowrap;
}
.user_info_header__cta_buttons {
  margin-top: 5px;
}
.user_info_header__content .h_display_inlineblock {
  word-break: break-word;
}
.e_btn._color_primary,
._color_primary.e_btn__3d,
._color_primary.e_btn__outline {
  background-color: #82b440;
}
.e_btn._size_s {
  font-size: 14px;
  padding: 5px 20px;
  line-height: 1.5;
}
.e_btn._color_default,
._color_default.e_btn__3d,
._color_default.e_btn__outline,
.e_btn,
.e_btn__3d,
.e_btn__outline {
  background-color: gray;
  color: white;
}
.e_btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  margin-right: 0px;
  border: none;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.user_info_header__user_stats {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: right;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.h_mx2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.user_info_header__stats_label {
  min-height: 30px;
}
.t_body {
  color: #666666;
}
.t_body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
  padding: 0;
}
.t_heading._size_m {
  font-size: 24px;
}
.t_heading {
  color: #454545;
}
.t_heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  padding: 0;
}
.h_pt3 {
  padding-top: 24px !important;
}
.t_link._decoration_none {
  text-decoration: none;
}
.page_tabs a {
  border-radius: 2px 2px 0 0;
  color: #666666;
  float: left;
  margin-right: 1px;
  padding: 0px 8px;
}
.page_tabs li {
  float: left;
  font-size: 12px;
  display: inline;
  line-height: 36px;
  margin-bottom: 1px;
  height: 36px;
}
.page_tabs .selected a {
  color: #454545;
  font-weight: bold;
  background: white;
  border-top-color: #e1e8ed;
  border-left-color: #e1e8ed;
  border-right-color: #e1e8ed;
  border-bottom-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 0px 11px;
}
.e_text_label._color_grey_medium,
._color_grey_medium.e_text_label_reversed {
  background-color: #ccc;
}
.e_text_label._size_s,
._size_s.e_text_label_reversed {
  padding: 4px 4px 3px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}
