.side_nav {
  height: 100%;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(44, 44, 44);
  overflow-x: hidden;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.side_nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: block;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: 1.1rem;
}

.side_nav a:hover {
  background: rgb(27, 27, 27);
}

.side_nav_heading {
  color: white;
  font-size: 1.2rem;
  display: block;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: bold;
}

.section {
  min-height: 100%;
  margin-bottom: -70px;
}

.section::after {
  content: '';
  display: block;
}

.content {
  margin-left: 230px;
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub_heading {
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.btn_primary {
  background: #ff9a03;
  border-color: transparent;
  color: white;
  margin-right: 1rem;
}

.btn_primary:hover {
  background: #e38b07;
  border-color: transparent;
}

.btn_primary:focus {
  box-shadow: none;
}

.btn_primary:active {
  background: #e38b07 !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.profile_top {
  text-align: center;
  color: white;
  background: #e38b07;
}

.profile_about {
  text-align: center;
  background: #e0e0e0;
}

.skills {
  justify-content: center;
  margin: 1rem 0;
}

.profile_exp,
.profile_edu {
  background: #e0e0e0;
}

.exp,
.edu {
  margin: 0.8rem 0;
}

.social_links {
  padding-top: 0.8rem;
}

.social_links > a {
  color: white;
  margin-right: 1rem;
}

.footer,
section::after {
  height: 70px;
}

.footer {
  text-align: center;
  width: 100%;
  background: rgb(44, 44, 44);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px white;
}
